<h1>Listing msgs</h1>

<table>
  <tr>
    <th>Msg</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @msgs.each do |msg| %>
  <tr>
    <td><%= msg.msg %></td>
    <td><%= msg.type %></td>
    <td><%= link_to 'Show', msg %></td>
    <td><%= link_to 'Edit', edit_msg_path(msg) %></td>
    <td><%= link_to 'Destroy', msg, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Msg', new_msg_path %>
