<h1>Listing bdatabases</h1>

<table>
  <tr>
    <th>Mtype</th>
    <th>Msg</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bdatabases.each do |bdatabase| %>
  <tr>
    <td><%= bdatabase.mtype %></td>
    <td><%= bdatabase.msg %></td>
    <td><%= link_to 'Show', bdatabase %></td>
    <td><%= link_to 'Edit', edit_bdatabase_path(bdatabase) %></td>
    <td><%= link_to 'Destroy', bdatabase, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bdatabase', new_bdatabase_path %>
