<p id="notice"><%= notice %></p>

<p>
  <b>Mtype:</b>
  <%= @bdatabase.mtype %>
</p>

<p>
  <b>Msg:</b>
  <%= @bdatabase.msg %>
</p>


<%= link_to 'Edit', edit_bdatabase_path(@bdatabase) %> |
<%= link_to 'Back', bdatabases_path %>
