<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "signin", :media => "all" %>
  <%= stylesheet_link_tag    "style1", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
FB.init({
appId : '393160320721597',
status : true,
cookie : true,
xfbml : true,
oauth : true,
});
};
(function(d){
var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
js = d.createElement('script'); js.id = id; js.async = true;
js.src = "//connect.facebook.net/en_US/all.js";
d.getElementsByTagName('head')[0].appendChild(js);
}(document));
</script>
<div class="fb-login-button" scope="email,user_checkins,publish_stream,read_stream">
Login with Facebook
</div>

<div id="page">
    <div id="content">
    	<div id="title">
    		<div id="logo">
        		<%= image_tag("beehive logo-tagline-2.jpg", :class => "bhive") %>
				<%= link_to("Wall",:controller => :website, :action=>:home)%>
				<%= link_to("Feed",:controller => :website, :action=>:feed)%>
				<%= link_to("Database",:controller => :bdatabases, :action=>:index)%>
				<%= link_to("Sign In",:controller => :signins, :action=>:index)%>
				
        	</div>
        	<div id="tagline">
        	</div>
        </div>



		<%= yield %>
	
	</div>
	<div id="footer"> <u>About us</u> | <u>Contact us </u></div>
</div>
</body>
</html>
